header {
  text-align: center;
  font-family: lores-9-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  color: #fdfd8d;
  margin-top: 100px;
  position: fixed;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../IMG/arcade.jpg);
  background-color: #18024a;
  height: 1900px;
  background-size: 100%;
  background-repeat: no-repeat;
}

a:link {
  color: #fdfd8d;
}

a:visited {
  color: #fdfd8d;
}

a:hover {
  color: #fdfd8d;
}

a:active {
  color: #fdfd8d;
}
.marquee {
  width: 100vw;
  max-width: 30%;
  margin-left: 38%;
  margin-right: 20%;
  height: 100px;
  background-color: #e30c4f;
  border: #d30a4d;
  border-style: solid;
  border-width: 15px 0px;
  padding: 10px;
  position: fixed;
  overflow-x: hidden;
}

.marquee-content {
  position: fixed;
  margin-top: 10px;
  margin-left: 69%;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}
.info1 {
  padding-top: 300px;
  display: flex;
}
.gestures {
  background-color: #fe58b1;
  padding: 30px;
  margin: 30px;
}
.other {
  background-color: #fe58b1;
  padding: 30px;
  margin: 30px;
}
